{% extends "_base.html" %}

{% block css %}
{{ super() }}
<link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css' />
<link rel="stylesheet" type="text/css" href="css/style.css" />
{% endblock css %}

{% block nav %}{% endblock nav %}

{% block content %}
<div class="container">
  <div class="intro row">
    <img src="img/ida-tarbell.jpg" alt="{{ title }}" />
    <h1>{{ title }}</h1>
    <p>{{ intro }}</p>
  </div>

  <div class="row">
    <div class="col-md-7">
      {{ read_file("_docs/resources.md")|markdown }}
    </div>
    <div class="col-md-4 col-md-offset-1">
      {{ read_file("_docs/install.md")|markdown }}
    </div>
  </div>
</div>
{% endblock content %}
